<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:learntype" type="SitecoreCognitiveServices.Feature.IntelligentTagging.Commands.LearnType,SitecoreCognitiveServices.Feature.IntelligentTagging"/>
      <command name="cognitive:testclassifier" type="SitecoreCognitiveServices.Feature.IntelligentTagging.Commands.TestClassifier,SitecoreCognitiveServices.Feature.IntelligentTagging"/>
      <command name="cognitive:trainclassifier" type="SitecoreCognitiveServices.Feature.IntelligentTagging.Commands.TrainClassifier,SitecoreCognitiveServices.Feature.IntelligentTagging"/>
      <command name="cognitive:tagcontent" type="SitecoreCognitiveServices.Feature.IntelligentTagging.Commands.TagContent,SitecoreCognitiveServices.Feature.IntelligentTagging"/>
    </commands>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.IntelligentTagging.App_Start.IocConfig, SitecoreCognitiveServices.Feature.IntelligentTagging" />
    </services>
    <settings>
      <setting name="CognitiveService.IntelligentTagging.TemplatesFolderId" value="{E37D78E0-4A49-472E-B997-494D3D2939C8}" />
      <setting name="CognitiveService.IntelligentTagging.IntelligentContentFolderId" value="{C698FF50-3150-4080-BB5B-9003F4729A21}" />
      <setting name="CognitiveService.IntelligentTagging.ContentMappingsFolderId" value="{72870740-CDC7-4BA7-B4FB-37D1E40FF5E2}" />
      <setting name="CognitiveService.IntelligentTagging.ContentMappingTemplateId" value="{B9852BDB-06BA-4194-AD0F-18A6C9B456C9}" />
      <setting name="CognitiveService.IntelligentTagging.ClassifierTemplateId" value="{00D99826-7ABC-4071-AA02-9521987B5A45}" />
      <setting name="CognitiveService.IntelligentTagging.ClassifiersFolderId" value="{3A425B96-0D37-427A-A425-FA30EB444C43}" />
      <setting name="CognitiveService.IntelligentTagging.LanguagesFolderId" value="{CCDA4DBB-FD22-4B10-A846-5B135B3EA6F1}" />
      <setting name="CognitiveService.IntelligentTagging.SourceTagsFieldId" value="{4C19CED2-DADA-4842-93E7-B4BF2DEAF4E4}" />
      <setting name="CognitiveService.IntelligentTagging.DestinationTagsFieldId" value="{79107D98-427F-4E07-8743-91FDA2E074A4}" />
      <setting name="CognitiveService.IntelligentTagging.ContentFieldsId" value="{FCA2830B-B93C-4B69-9759-A88912A8E62B}" />
      <setting name="CognitiveService.IntelligentTagging.TemplateFieldId" value="{13AA742C-DA9F-4DD9-9570-BB7CA4DA9554}" />
      <setting name="CognitiveService.IntelligentTagging.DictionaryDomain" value="Content Tagging Dictionary" />
      <setting name="CognitiveService.IntelligentTagging.ClassifierIdFieldId" value="{30049A55-05A3-4C0B-8114-99664B820127}" />
      <setting name="CognitiveService.IntelligentTagging.ClassifierNameFieldId" value="{0C4FE73A-5285-4485-AB9F-871ADE6F40CA}" />
      <setting name="CognitiveService.IntelligentTagging.ClassifierLanguageFieldId" value="{975F309B-E6F4-4EA2-9687-43851743E208}" />
      <setting name="CognitiveService.IntelligentTagging.ClassifierCreatedFieldId" value="{1C394ACD-3AE6-4FCC-9174-1CFD7561D202}" />
      <setting name="CognitiveService.IntelligentTagging.LearnedTypesFieldId" value="{392C3213-A0D8-4300-A23A-14D39D669286}" />
      <setting name="CognitiveService.IntelligentTagging.ItemTrainingCountFieldId" value="{4C745C99-B751-4511-8583-821523B3A77D}" />
      <setting name="CognitiveService.IntelligentTagging.ItemTestingCountFieldId" value="{AB02F7F2-D4DF-4884-8B32-489AB8593850}" />
      <setting name="CognitiveService.IntelligentTagging.AccuracyFieldId" value="{542F2195-0D99-4CB0-A7CE-6066C1000DF4}" />
      <setting name="CognitiveService.IntelligentTagging.OverageFieldId" value="{68867A43-9EBA-4911-8DE2-C8B704DD0468}" />
      <setting name="CognitiveService.IntelligentTagging.TaxonomyFieldId" value="{F4025B94-5506-4D36-AC9F-F954C73C2069}" />
      <setting name="CognitiveService.IntelligentTagging.TaxonomyItemTemplateFieldId" value="{DD62673B-AA98-4B55-9E60-3097A7EF701D}" />
      <setting name="CognitiveService.IntelligentTagging.ConfidenceFieldId" value="{5188A853-7BBA-4856-8F34-9B72D4DB7176}" />
      <setting name="CognitiveService.IntelligentTagging.ClassPathFieldId" value="{4FF22A05-1DDA-4783-83B3-371D2B053FF9}" />
      <setting name="CognitiveService.IntelligentTagging.AssemblyFieldId" value="{3894A5DE-9340-45A8-8EE6-F9EB8E9A544C}" />
      <setting name="CognitiveService.IntelligentTagging.RulesFieldId" value="{C14258FB-DAD7-465E-91A4-985767CF4E1C}" />
      <setting name="CognitiveService.IntelligentTagging.TrainingDataFieldId" value="{D7B5D39E-8A3A-4A7A-BBF3-1C6FA679E248}" />
    </settings>
  </sitecore>
</configuration>